@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /*Permite deslizar al clickear en los links del menu */
    scroll-behavior: smooth;
}
/*BARRA DE MENÚ*/
.conteiner-header{
    background: #161616;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.conteiner-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.conteiner-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #fac30d;
    text-decoration: none;
}
.conteiner-header header ul{
    display: flex;
    list-style: none;
}
.conteiner-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.conteiner-header header nav ul li a:hover{
    color: #fac30d;
}
.nav-responsive{
    background-color: #fac30d;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.nav-responsive:hover{
    transition: .3s;
    padding: 10px 14px;
}
/*SECCIÓN DE INICIO*/
.inicio{
    background: linear-gradient(to top, rgba(15, 15, 13, 0.7), rgba(15, 15, 13,0.9)),
    url(../img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    background-attachment: fixed;
}
.inicio .content-banner{
    padding: 20px;
    padding-top: 50px;
    background-color: #1F1F1F;
    max-width: 400px;
    margin: auto;
    text-align: center;
    margin-left:initial;
    height: 600px;
    position: relative;
    top: 24px;
}
.inicio .content-banner img{
    margin-top: 40px;
    border: 8px solid#fac30d;
    display: block;
    width: 60%;
    margin: auto;
    border-radius: 100%;
}
.inicio .content-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
    color: #c5c1c1;
    
}
.inicio .content-banner h2{
    font-size: 15px;
    font-weight: normal;
    color: #ffffff;
    font-family: 'Righteous';
}
.inicio .content-banner h2 p{
    font-size: 15px;
    font-weight: normal;
    color: #c5c1c1;
    font-family: 'Righteous';
}
.inicio .content-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 120px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .content-banner .redes a:hover{
    background-color: #fac30d;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.inicio .Bienvenida h1{
    margin: auto;
    margin-top: 150px;
    font-size: 32px;
    font-family: 'Righteous';
    float: right;
    color: white;    
    text-align: center; 
    position: absolute;
    right: 0px;
    background: linear-gradient(to top, rgba(236, 195, 12, 0.9), rgba(236, 195, 12,0.9));
    padding: 10px 50px 10px 20px;
    margin-left: 10px;
    border-radius: 4px;
}
.inicio .Bienvenida h1:hover{
    transition: .3s;
    padding: 11px 60px 11px 20px;
}

/*SECCIÓN ACERCA DE MI*/
.acercaMi{
    background-color: #E3E3E3;
    color: #050505;
    padding: 82px 20px;
}
.acercaMi h2{
    background-color: #E3E3E3;
    color: #fac30d;
    padding: 50px 20px;
}
.acercaMi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.acercaMi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.acercaMi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: justify;
}
.acercaMi .contenido-seccion p span{
    color: #fac30d;
    font-weight: bold;
}
.acercaMi .fila{
    display: flex;
}
.acercaMi .fila .col
{
    width: 50%;
}
.acercaMi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
    color: #fac30d;
}
.acercaMi .fila .col ul{
    list-style: none;
}
.acercaMi .fila .col ul li{
    margin: 12px 0;
}
.acercaMi .fila .col ul li strong{
    display: inline-block;
    color: #fac30d;
    width: 130px;
}
.acercaMi .fila .col ul li span{
    background-color: #fac30d;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.acercaMi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.acercaMi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    color: #E3E3E3;
    background-color: #1F1F1F;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}.acercaMi .fila .col .contenedor-intereses .interes:hover{
    background-color: #fac30d;
    width: 104px;
    height: 104px;
}
.acercaMi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.acercaMi button{
    cursor: pointer;
    background-color: #454546;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
    border-radius: 8px;
}
.acercaMi button a{
    text-decoration: none;
    color: #fff;
}
.acercaMi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fac30d;
    z-index: -1;
    transition: 1s;
    border-radius: 6px;
}
.acercaMi button:hover .overlay{
    width: 100%;
}
/* SECCION DE HABILIDADES*/
.habilidades .fila .col .contenedor-hab{
    display: flex;
    flex-wrap: wrap;
}
.habilidades .fila .col .contenedor-hab .habilidades{
    width: 133px;
    height: 130px;
    color: #E3E3E3;
    background-color: #1F1F1F;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}.habilidades .fila .col .contenedor-hab .habilidades:hover{
    background-color: #fac30d;
    width: 140px;
    height: 140px;
}
.habilidades .fila .col .contenedor-hab .habilidades i{
    font-size: 30px;
    margin-bottom: 10px;
}

.habilidades{
    background-color: #454546;
    color: #fff;
    padding: 64px 20px;
}
.habilidades .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.habilidades h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    color: #fac30d;

}
.habilidades .fila{
    display: flex;
}

.habilidades .fila .col{
    width: 50%;
    padding: 0 20px;
}
.habilidades .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.habilidades .habili{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    margin-left: 100px;
    font-size: 24px;
    margin-bottom: 25px;
    line-height: 60px;
    transition: .3s;
}

.habilidades .habili li:hover{
    font-size: 28px;
    color: #faaf0d;
}

/* SECCION PORTAFOLIO */
.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: white;
    padding: 3px;
    transition: all 0.3s ease;
}

.card-image:hover {
    height: 165px;
    width: 270px;
    border-radius: 10%;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fac30d;
    transition: all 0.3s ease;
}

.card-image .card-img:hover {
    height: 100%;
    width: 100%;
    border-radius: 10%;
}

.name {
    font-size: 10px;
    font-weight: 500;
    color: #070707;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button2 {
    border: none;
    font-size: 16px;
    color: #ffffff;
    padding: 8px 16px;
    background-color: #707070;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button2 a{
    text-decoration: none;
    color: white;
}
.button2:hover {
    padding: 12px 22px;
}

.button2:hover{
    background: #fac30d;
}
.portafolio{
    min-width: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aaaaaa;
    padding-bottom: 30px;
}
.portafolio .tittle{
    color: white;
}

.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;

}
.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay2 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #1F1F1F;
    border-radius: 25px 25px 0 25px;
}
.overlay2::before,
.overlay2::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #1F1F1F;
}
.overlay2::after {
   border-radius: 0 25px 0 0;
   background-color: white;
}
.card {
    border-radius: 25px;
    background-color: rgb(252, 252, 252);
}
.swiper-navBtn {
    color: #fac30d;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover {
    color: #f07815;
}
.swiper-navBtn::before, 
.swiper-navBtn::after{
    font-size: 40px;
}

.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    background-color: #fac30d;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #faaf0d;
    opacity: 1;
}

@media screen and (max-width: 768px){
    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
}

/*Fin*/
.portafolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.portafolio h2{
    font-size: 39px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

/* SECCION CONTACTO */
.contacto{
    background-color: #454546;
    background-image: url(img/contact_bg.png);
    color: #fff;
    padding: 50px 0;
}

.contacto .content-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #b1b1b1;
    color: #ffffff;
    font-size: 18px;
}
.content-btn {
    width: 200px;
}
.content-btn .btn{
    cursor: pointer;
    border-radius: 10px;
    width: 10px;
    transition: color 0.3s ease;
    color: #454546;
}
.content-btn .btn:hover{
    background-color: #fac30d;
    padding: 20px;
}

.contacto .col img{
    width: 100%;
}
.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
}
.contacto .col .info ul li i{
    color: #fac30d;
    display: inline-block;
    margin-right: 20px;
}
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fac30d;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .acercaMi .fila{
        display: block;
    }
    .acercaMi .fila .col{
        width: fit-content;
    }

    .habilidades .fila{
        display: block;
    }
    .habilidades .fila .col{
        width: 100%;
    }
    .habilidades .fila .col .barra-skill{
        width: 100%;
    }

    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}